In [1]:
import sys
import os
sys.path.append(os.path.abspath('../src'))
from utils import load_dataset, save_datest
from data_prepocessing import categorical_encode, normalize_data

In [2]:
# Initializing variables
load_path = '../datasets/raw/mall_customers.csv'
save_path = '../datasets/ready/processed_mall_customers.csv'
normaliztion_method = 'z_score'

In [3]:
#Loading the dataset
df = load_dataset(load_path)
print(df)

     customer_id  gender  age  annual_Income  spending_Score
0              1    Male   19             15              39
1              2    Male   21             15              81
2              3  Female   20             16               6
3              4  Female   23             16              77
4              5  Female   31             17              40
..           ...     ...  ...            ...             ...
195          196  Female   35            120              79
196          197  Female   45            126              28
197          198    Male   32            126              74
198          199    Male   32            137              18
199          200    Male   30            137              83

[200 rows x 5 columns]

In [4]:
#selecting proper column
df = df[['gender','age','annual_Income','spending_Score']]
print(df)

     gender  age  annual_Income  spending_Score
0      Male   19             15              39
1      Male   21             15              81
2    Female   20             16               6
3    Female   23             16              77
4    Female   31             17              40
..      ...  ...            ...             ...
195  Female   35            120              79
196  Female   45            126              28
197    Male   32            126              74
198    Male   32            137              18
199    Male   30            137              83

[200 rows x 4 columns]

In [5]:
#Finding and Handling missing values
df = df.dropna()
print(df)

     gender  age  annual_Income  spending_Score
0      Male   19             15              39
1      Male   21             15              81
2    Female   20             16               6
3    Female   23             16              77
4    Female   31             17              40
..      ...  ...            ...             ...
195  Female   35            120              79
196  Female   45            126              28
197    Male   32            126              74
198    Male   32            137              18
199    Male   30            137              83

[200 rows x 4 columns]

In [6]:
df.drop_duplicates(keep=False) 
print(df)

     gender  age  annual_Income  spending_Score
0      Male   19             15              39
1      Male   21             15              81
2    Female   20             16               6
3    Female   23             16              77
4    Female   31             17              40
..      ...  ...            ...             ...
195  Female   35            120              79
196  Female   45            126              28
197    Male   32            126              74
198    Male   32            137              18
199    Male   30            137              83

[200 rows x 4 columns]

In [8]:
#Categorical Encoding 
print(df)
columns = ['gender']
df = categorical_encode(df, columns) # Male => 1 and Female => 0
print(df)

     gender  age  annual_Income  spending_Score
0      Male   19             15              39
1      Male   21             15              81
2    Female   20             16               6
3    Female   23             16              77
4    Female   31             17              40
..      ...  ...            ...             ...
195  Female   35            120              79
196  Female   45            126              28
197    Male   32            126              74
198    Male   32            137              18
199    Male   30            137              83

[200 rows x 4 columns]
     gender  age  annual_Income  spending_Score
0         1   19             15              39
1         1   21             15              81
2         0   20             16               6
3         0   23             16              77
4         0   31             17              40
..      ...  ...            ...             ...
195       0   35            120              79
196       0   45            126              28
197       1   32            126              74
198       1   32            137              18
199       1   30            137              83

[200 rows x 4 columns]

In [9]:
# Normalizing the dataset
normalization_columns = ['age','annual_Income','spending_Score']

normalize_data(df, normaliztion_method, normalization_columns)

     gender       age  annual_Income  spending_Score
0         1 -1.421003      -1.734646       -0.433713
1         1 -1.277829      -1.734646        1.192711
2         0 -1.349416      -1.696572       -1.711618
3         0 -1.134655      -1.696572        1.037814
4         0 -0.561958      -1.658498       -0.394989
..      ...       ...            ...             ...
195       0 -0.275610       2.263112        1.115262
196       0  0.440260       2.491555       -0.859681
197       1 -0.490371       2.491555        0.921640
198       1 -0.490371       2.910368       -1.246925
199       1 -0.633545       2.910368        1.270160

[200 rows x 4 columns]

In [10]:
#saving the processed dataset
save_datest(df, save_path)